:host {
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //flex-wrap: wrap;
  }
  

  .name-about {
    padding-left: 2%;
  }
  // .photo {
  // width: 50%;
  // }
}