
<div class="title" [style.background]="tiles[0].color">
  <div>
    <app-photo [photo]="content.photo" class="photo"></app-photo>
  </div>
  <div class="name-about"> 
      <app-name [name]="content.name"></app-name>
      <app-about [about]="content.about"></app-about> 
  </div>
</div>
<div class="contacts" [style.background]="tiles[1].color">
  <app-contacts [contacts]="content.contacts"></app-contacts>
</div>

<div class="education" [style.background]="tiles[2].color">
  <app-education [education]="content.education"></app-education>
</div>

<div class="education" [style.background]="tiles[3].color">
  <app-experience [experience]="content.experience"></app-experience>
</div>

<div class="portfolio">
  <app-portfolio [portfolio]="content.portfolio"></app-portfolio>
</div>

<div class="stack">
  <app-stack [stack]="content.stack"></app-stack>
</div>

<div class="language">
  <app-languages [language]="content.languageSkill"></app-languages>
</div>
