:host {
  .header-toolbar{
  display: flex;
  align-items: center;
  justify-content: space-between;

  form {
    margin: 0;
    padding: 0;
    height: 68px;
    //width: 180px;
    padding-top: 1%;
    //margin-top: 2%;

  }
  //height: 88px;
  }
  
}