<mat-toolbar color="primary" class="header-toolbar">
<button mat-raised-button color="accent" class="button">{{content.download}}</button>
<form [formGroup]="formLang" class="form">
  <mat-form-field [formGroup]="formLang" >
    <mat-label>{{content.language}}</mat-label>
    <mat-select [formControl]="langControl"
    (selectionChange)="switchLanguage(langControl.value)">
    @for (language of languages; track language.value) {
      <mat-option   [value]="language.value">
        {{language.viewValue}}
      </mat-option>
    }
    </mat-select>
  </mat-form-field>
</form>

</mat-toolbar>
