:host {
  .header-toolbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;

  .button {
    display: none;
    height: 58px;
  }

  .form {
    margin: 0;
    padding: 0;
    padding-top: 19px;
    
  }
  }
}